node_modules/
.idea/
__extbuild/
coverage/
app/certs/*
/extension-builder/kango/src/js/
/extension-builder/kango/changelog.txt
/extension-builder/kango/docs/
/extension-builder/kango/kango.py
/extension-builder/kango/kango.zip
/extension-builder/kango/kango/
/extension-builder/kango/license.txt
/extension-builder/kango/readme.txt
/extension-builder/kango/samples/
/extension-builder/kango/src/xml/
/extension-builder/kango/templates/
/extension-builder/kango/tools/
/extension-builder/kango/buildtmp/
app/src/static/css
